
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #460f076b;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background: #007bff;
        width: 100%;
        left: 0;
        top: 60px;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #460f076b;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
}